GLFW_ICON ICON "pgxd.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
	  //VALUE "CompanyName", "raylib technologies"
      VALUE "FileDescription", "PGXD/Engine application"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "pgxdengine app"
      VALUE "LegalCopyright", "(c) 2023 PGXD/HatLink"
      //VALUE "OriginalFilename", "pgxd.exe"
      VALUE "ProductName", "pgxdengine app"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END
